# Dependency directories
node_modules/
client/node_modules/
server/node_modules/

# Local databases
mongodb_data/

# Environment files
.env
server/.env

# Build/Dist outputs
client/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.system_generated/

# OS metadata
.DS_Store
Thumbs.db
